# Dependencies
node_modules

# Output
/dist
/.vite
/.turbo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor
.DS_Store
.idea
.vscode

# Tauri
/src-tauri/target
/src-tauri/.cargo
/src-tauri/Cargo.lock

# Testing
/coverage

